#!/bin/bash

{{ if .isDebian }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"
info "$(printf ${ORANGE}[Debian]${NC}) Installing essential apt packages for Debian..."

run <<EOF
sudo apt install -y \\
  bat \\
  fzf \\
  git \\
  make \\
  neovim \\
  ripgrep \\
  wget \\
  zsh \\
  zstd
EOF

info "$(printf ${ORANGE}[Debian]${NC}) Installing static curl..."
run <<EOF
sudo wget -O /usr/local/bin/curl https://github.com/moparisthebest/static-curl/releases/latest/download/curl-amd64
sudo chmod +x /usr/local/bin/curl
EOF

{{ if .isDesktop }}
info "$(printf ${ORANGE}[Debian]${NC}) Installing desktop-specific apt packages..."
run <<EOF
sudo add-apt-repository -y ppa:mattrose/terminator
sudo apt install -y terminator
sudo apt install -y --no-install-recommends \\
  nemo \\
  nemo-fileroller \\
  nemo-font-manager \\
  nemo-gtkhash
EOF
{{ end }}

{{ end }}
