#!/bin/bash

{{ if .isDebian }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "$(printf ${ORANGE}[Debian]${NC}) Setting up brazilian apt mirrors for Debian..."
run <<EOR
sudo tee /etc/apt/sources.list >/dev/null <<EOF
deb http://ftp.br.debian.org/debian bookworm main contrib non-free non-free-firmware
deb http://ftp.br.debian.org/debian bookworm-updates main contrib non-free non-free-firmware
deb http://security.debian.org/debian-security bookworm-security main contrib non-free non-free-firmware
EOF
EOR

{{ end }}
