#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

if ! command -v bun &> /dev/null; then
  info "Installing Bun..."
  curl -fsSL https://bun.sh/install | bash
  success "Bun installed successfully."
else
  info "Bun is already installed. Updating..."
  bun upgrade
  success "Bun updated successfully."
fi

success
{{ end }}
