#!/bin/bash

{{- if .isLinux }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'

info 'Installing Oh My Zsh plugins'
ZSH_PLUGINS_DIR="${ZSH_CUSTOM:-${HOME}/.oh-my-zsh/custom}/plugins"
ZSH_PLUGINS=(
  'zsh-users/zsh-syntax-highlighting'
  'zsh-users/zsh-autosuggestions'
)
mkdir -p "$ZSH_PLUGINS_DIR" &>/dev/null

for plugin in "${ZSH_PLUGINS[@]}"; do
  name=$(printf '%s' "$plugin" | cut -d/ -f2)
  target_dir="$ZSH_PLUGINS_DIR/$name"
  if [ ! -d "$target_dir" ]; then
    info "Installing plugin: $name..."
    git clone "https://github.com/${plugin}" "$target_dir" &>/dev/null
  else
    info "Updating plugin: $name..."
    git -C "$target_dir" pull &>/dev/null
  fi
  success
done

{{- end }}
