#!/bin/bash

{{- if and .isLinux .isFull }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'
info "Self-hosting services (llama.cpp, paperless-ngx, glance)"
SELF_HOSTED_DIR="${HOME}/projects/self-hosted"
sudo chown ${USER}:${USER} "${SELF_HOSTED_DIR}" -R &>/dev/null
mkdir -p "${SELF_HOSTED_DIR}/llama.cpp"
mkdir -p "${SELF_HOSTED_DIR}/paperless-ngx"
mkdir -p "${SELF_HOSTED_DIR}/glance"

info 'Install llama.cpp'
! docker image inspect ghcr.io/ggml-org/llama.cpp:server &>/dev/null \
  && info "Pulling llama.cpp server Docker image..." \
  || info "llama.cpp already pulled. Updating..."
docker pull ghcr.io/ggml-org/llama.cpp:server &>/dev/null
# docker run -v /mnt/w/AI/.ollama/models:/models ghcr.io/ggml-org/llama.cpp:full --all-in-one "/models/" 7B
success

info 'Install Paperless-ngx'
if [ ! -f "${SELF_HOSTED_DIR}/paperless-ngx" ]; then
  info "Downloading Paperless-ngx docker compose and env files..."
  PAPERLESS_NGX_URL='https://raw.githubusercontent.com/paperless-ngx/paperless-ngx/main/docker/compose/'
  wget -q "${PAPERLESS_NGX_URL}/docker-compose.postgres.yml" -O "compose.yml" &>/dev/null
  wget -q "${PAPERLESS_NGX_URL}/.env" -O "docker-compose.env" &>/dev/null
else
  info "Paperless-ngx already installed. Updating..."
fi
cd "${SELF_HOSTED_DIR}/paperless-ngx"
docker compose pull &>/dev/null
docker compose up -d &>/dev/null
success

info 'Install Glance'
[ ! -f "${SELF_HOSTED_DIR}/glance" ] \
  && info "Installing Glance..." \
  || info "Glance already installed. Updating..."
cd "${SELF_HOSTED_DIR}/glance"
GLANCE_URL='https://github.com/glanceapp/docker-compose-template/archive/refs/heads/main.tar.gz'
curl -sL "${GLANCE_URL}" | tar -xzf - --strip-components 2 &>/dev/null
docker compose up -d &>/dev/null
success

info "Installing Pinokio..."
PINOKIO_URL='https://github.com/pinokiocomputer/pinokio/releases/download/v7.1.15/Pinokio_7.1.15_amd64.deb'
wget -q "${PINOKIO_URL}" -O /tmp/Pinokio_7.1.15_amd64.deb
sudo apt-get install -y /tmp/Pinokio_7.1.15_amd64.deb &>/dev/null
rm -f /tmp/Pinokio_7.1.15_amd64.deb
success

{{- end }}
