#!/bin/bash

{{- if and .isLinux .isFull }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'

if ! command -v ollama &>/dev/null; then
  info "Installing Ollama..."
  curl -fsSL https://ollama.com/install.sh | sh &>/dev/null
  success
else
  info "Ollama is already installed"
  success
fi

if ! command -v llmfit &>/dev/null; then
  info "Installing llmfit..."
  curl -fsSL https://llmfit.axjns.dev/install.sh | sh -s -- --local
  success
else
  info "llmfit is already installed"
  success
fi

{{- end }}
