#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Docker section"

[[ ! command -v docker &>/dev/null ]] \
  && info "Installing Docker via official convenience script..." \
  || info "Updating Docker..."

run <<EOF
curl -fsSL https://get.docker.com -o get-docker.sh \\
  && sudo sh get-docker.sh \\
  && rm get-docker.sh
EOF

info "Checking if $USER belongs to docker group..."
if ! groups $USER | grep -q "docker"; then
  info "Adding user $USER to the docker group..."
  run <<EOF
sudo usermod -aG docker $USER
newgrp docker
EOF
else
  info "User is already in the docker group."
fi

info "Checking for Docker Compose..."
[[ ! docker compose version &>/dev/null ]] \
  && info "Installing Docker Compose plugin..."
  || info "Updating Docker Compose plugin..."
run <<EOF
sudo apt-get install -y docker-compose-plugin &>/dev/null
EOF

{{ end }}
