#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Checking default shell..."
if [ "$SHELL" != "$(which zsh)" ]; then
  info "Setting zsh as default shell..."
  sudo chsh -s "$(which zsh)" "{{ .chezmoi.username }}"
  success "zsh is now the default shell (effective on next login)."
else
  success "zsh is already the default shell."
fi

{{ end }}
{{ end }}
