#!/bin/bash

{{- if and .isLinux .isFull }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'

info "Installing Ollama..."
curl -fsSL https://ollama.com/install.sh | sh &>/dev/null
success

info "Installing llmfit..."
curl -fsSL https://llmfit.axjns.dev/install.sh | sh -s -- --local &>/dev/null
success

{{- end }}
