#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Verifying system locale settings..."
if ! locale -a | grep -i -q 'en_US.utf8'; then
  warning "en_US.UTF-8 locale not found. Fixing now..."
  info "Generating en_US.UTF-8 locale..."
  sudo locale-gen en_US.UTF-8
    info "Updating system default locales..."
    sudo update-locale LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8
    success "Locale fixed successfully!"
else
    success "en_US.UTF-8 locale is already available."
fi

{{ end }}
{{ end }}
