#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Installing Python, pip, venv..."
run <<EOF
sudo apt install -y \\
  python3 \\
  python-is-python3 \\
  python3-pip \\
  python3-venv
EOF

if ! command -v pyenv &>/dev/null; then
  info "Installing pyenv..."
  run <<EOF
sudo apt install -y \\
  libbz2-dev \\
  libffi-dev \\
  liblzma-dev \\
  libncursesw5-dev \\
  libreadline-dev \\
  libsqlite3-dev \\
  libssl-dev \\
  libxml2-dev \\
  libxmlsec1-dev \\
  tk-dev \\
  xz-utils \\
  zlib1g-dev \\
  &>/dev/null
curl https://pyenv.run | bash
EOF
else
  info "pyenv is already installed. Updating..."
  run "pyenv update" || true
fi

info "Installing pipx..."
run <<EOF
sudo apt install -y pipx
pipx ensurepath
EOF

info "Installing colo via pipx..."
run <<EOF
pipx install colo
EOF

if ! command -v uv &> /dev/null; then
  info "Installing uv..."
  run <<EOF
curl -LsSf https://astral.sh/uv/install.sh | sh
EOF
else
  info "uv is already installed. Updating..."
  run <<EOF
uv self update
EOF
fi

{{ end }}
