#!/bin/bash

{{- if .isLinux }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'
SUDOERS_FILE="/etc/sudoers.d/{{ .chezmoi.username }}"

info "Configuring passwordless sudo for {{ .chezmoi.username }}..."
echo "{{ .chezmoi.username }} ALL=(ALL) NOPASSWD:ALL" | sudo tee "$SUDOERS_FILE" &>/dev/null
success

info "Securing file permissions for sudoers.d..."
sudo chmod 0440 "$SUDOERS_FILE"
success

{{- end }}

