#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Setting up Brazilian apt mirrors..."

if [ -f "/etc/apt/sources.list.d/ubuntu.sources" ]; then
  grep
  sudo sed -i 's|URIs: http://[^ ]*|URIs: http://br.archive.ubuntu.com/ubuntu|' /etc/apt/sources.list.d/ubuntu.sources
  success "Brazilian mirrors configured successfully!"
else
  success "Brazilian mirrors already configured or ubuntu.sources not found."
fi

{{ end }}
{{ end }}
