#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Installing essential apt packages..."

sudo apt install -y \
  bat \
  build-essential \
  curl \
  eza \
  fzf \
  git \
  make \
  neovim \
  ripgrep \
  {{- if not .isWsl }}
  terminator \
  {{- end }}
  vim \
  wget \
  zsh

success "Essential packages installed successfully!"

{{ end }}
{{ end }}
