#!/bin/bash

{{ if .isLinux }}

source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"
info "Setting zsh as default shell..."
run <<EOF
sudo chsh -s "$(which zsh)" "{{ .chezmoi.username }}"
EOF

{{ end }}
