#!/bin/bash

# This script runs early to display the detected system environment.
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

printf "${IBLACK}
========================================
thiagobraga dotfiles
========================================\n"

printf "${IBLACK}isLinux:   $(status {{ .isLinux }})\n"
printf "${IBLACK}isUbuntu:  $(status {{ .isUbuntu }})\n"
printf "${IBLACK}isDebian:  $(status {{ .isDebian }})\n"
printf "${IBLACK}isWsl:     $(status {{ .isWsl }})\n"
printf "${IBLACK}isDesktop: $(status {{ .isDesktop }})\n"
printf "${IBLACK}isServer:  $(status {{ .isServer }})\n${NC}"
