#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Updating apt repositories..."
sudo apt update
info "Upgrading installed apt packages..."
sudo apt upgrade -y
success "Packages are successfully updated and upgraded!"

{{ end }}
{{ end }}
