#!/bin/bash

{{ if eq .chezmoi.os "linux" }}

source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

export NVM_DIR="$HOME/.nvm"

info "Installing npm global packages..."
npm i -g \
  @anthropic-ai/claude-code \
  n8n \
  openclaw \
  opencode-ai
success "NPM packages installed successfully."

{{ end }}
