#!/bin/bash

{{ if and .isLinux .isFull }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Installing Python, pip, venv..."
sudo apt install -y \
  python3 \
  python-is-python3 \
  python3-pip \
  python3-venv \
  &>/dev/null
success
info "Installing pyenv..."
sudo apt install -y \
  libbz2-dev \
  libffi-dev \
  liblzma-dev \
  libncursesw5-dev \
  libreadline-dev \
  libsqlite3-dev \
  libssl-dev \
  libxml2-dev \
  libxmlsec1-dev \
  tk-dev \
  xz-utils \
  zlib1g-dev \
  &>/dev/null
rm -rf $HOME/.pyenv
curl -fsSL https://pyenv.run | bash &>/dev/null
success
info "Installing pipx..."
sudo apt install -y pipx &>/dev/null
pipx ensurepath &>/dev/null
success
info "Installing colo via pipx..."
pipx install colo &>/dev/null
success
if ! command -v uv &> /dev/null; then
  info "Installing uv..."
  curl -fsSL https://astral.sh/uv/install.sh | sh &>/dev/null
else
  info "uv is already installed. Updating..."
  uv self update &>/dev/null
fi

success
{{ end }}
