#!/bin/bash
{{ if and .isLinux .isFull }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

if ! command -v ollama &>/dev/null; then
  info "Installing Ollama..."
  run <<EOF
curl -fsSL https://ollama.com/install.sh | sh
EOF
else
  info "Ollama is already installed"
  success
fi

if ! command -v llmfit &>/dev/null; then
  info "Installing llmfit..."
  run <<EOF
curl -fsSL https://llmfit.axjns.dev/install.sh | sh -s -- --local
EOF
else
  info "llmfit is already installed"
  success
fi

{{ end }}
