#!/bin/bash

{{ if and .isLinux .isFull .hasAVX }}
info "Installing bun global packages..."

export PATH="${HOME}/.bun/bin:${PATH}"

bun add -g \\
  @anthropic-ai/claude-code \\
  @kilocode/cli \\
  browser-sync \\
  n8n \\
  openclaw \\
  opencode-ai \\
  vercel \\
  yarn \\
  &>/dev/null

info "Testing bun global packages..."
bun -v

claude -v

browser-sync --version

kilo --version

n8n -v

openclaw -v

opencode -v

vercel -v

yarn -v
success

info "Installing Antigravity Awesome Skills..."
npx antigravity-awesome-skills &>/dev/null
test -d ~/.gemini/antigravity/skills && echo "Skills installed"

{{ end }}
