#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

if ! command -v bun &> /dev/null; then
  info "Installing Bun..."
  run <<'EOF'
BASH_ARGS=""
grep -q avx /proc/cpuinfo || BASH_ARGS="-s bun-v1.3.11-baseline"
curl -fsSL https://bun.sh/install | bash ${BASH_ARGS} &>/dev/null
EOF
else
  info "Bun is already installed. Updating..."
  run <<EOF
bun upgrade &>/dev/null
EOF
fi

{{ end }}
