#!/bin/bash

{{ if .isUbuntu }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"
info "Installing essential apt packages..."

sudo apt-get install -y \
  bat \
  build-essential \
  curl \
  eza \
  fzf \
  git \
  make \
  neovim \
  ripgrep \
  {{- if .isDesktop }} terminator \ {{- end }}
  vim \
  wget \
  zsh \
  > /dev/null

success "Essential packages installed successfully!"
{{ end }}
