#!/bin/bash

{{ if and .isLinux .isFull }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Installing Rust..."
run <<EOF
if ! command -v rustup &>/dev/null; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path
fi
EOF

# Ensure cargo env is sourced for subsequent scripts
export PATH="$HOME/.cargo/bin:$PATH"

success "Rust installed"
{{ end }}
