#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

SUDOERS_FILE="/etc/sudoers.d/{{ .chezmoi.username }}"

source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Checking if sudoers file exists..."
if [ ! -f "$SUDOERS_FILE" ]; then
  info "Configuring passwordless sudo for {{ .chezmoi.username }}..."
  info "Adding User {{ .chezmoi.username }} to sudoers.d..."
  echo "{{ .chezmoi.username }} ALL=(ALL:ALL) NOPASSWD:ALL" | sudo tee "$SUDOERS_FILE" > /dev/null
  info "Securing file permissions for sudoers.d..."
  sudo chmod 0440 "$SUDOERS_FILE"
  success "Passwordless sudo configured!"
else
  success "Sudoers file already configured for {{ .chezmoi.username }}."
fi

{{ end }}
{{ end }}
