#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"
info "Updating apt repositories..."

run sudo apt-get update > /dev/null

info "Upgrading installed apt packages..."
run sudo apt-get upgrade -y > /dev/null

success "Packages are successfully updated and upgraded!"
{{ end }}
