#!/bin/bash

{{- if and .isLinux .isDesktop .isFull }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'

info "Disabling Dash to Dock..."
gnome-extensions disable ubuntu-dock@ubuntu.com &>/dev/null || true
gnome-extensions disable dash-to-dock@micxgx.gmail.com &>/dev/null || true
success

info "Installing Dash to Panel extension..."
gnome-extensions-cli install dash-to-panel@jderose9.github.com &>/dev/null
gnome-extensions enable dash-to-panel@jderose9.github.com &>/dev/null
success

info "Installing Date Menu Formatter extension..."
gnome-extensions-cli install date-menu-formatter@marcinjakubowski.github.com &>/dev/null
gnome-extensions enable date-menu-formatter@marcinjakubowski.github.com &>/dev/null
success

info "Installing Middle Click to Close in Overview extension..."
gnome-extensions-cli install middle-click-to-close-in-overview@fmuellner.github.io &>/dev/null
gnome-extensions enable middle-click-to-close-in-overview@fmuellner.github.io &>/dev/null
success

{{- end }}
