#!/bin/bash

{{- if and .isLinux .isDesktop .isFull }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'

info "Disabling Dash to Dock..."
gnome-extensions disable ubuntu-dock@ubuntu.com &>/dev/null || true
gnome-extensions disable dash-to-dock@micxgx.gmail.com &>/dev/null || true
success

info "Installing Dash to Panel extension..."
gnome-extensions-cli install dash-to-panel@jderose9.github.com &>/dev/null
gnome-extensions enable dash-to-panel@jderose9.github.com &>/dev/null || true
dconf load /org/gnome/shell/extensions/dash-to-panel/ < '{{ .chezmoi.sourceDir }}/.helpers/extensions/dash-to-panel/config.ini' &>/dev/null || true
success

info "Installing Date Menu Formatter extension..."
gnome-extensions-cli install date-menu-formatter@marcinjakubowski.github.com &>/dev/null
gnome-extensions enable date-menu-formatter@marcinjakubowski.github.com &>/dev/null || true
success

info "Installing Quick Close in Overview extension..."
gnome-extensions-cli install middleclickclose@paolo.tranquilli.gmail.com &>/dev/null
gnome-extensions enable middleclickclose@paolo.tranquilli.gmail.com &>/dev/null || true
success

{{- end }}
