#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

if [ ! -d "${HOME}/.oh-my-zsh" ]; then
  info "Installing Oh My Zsh..."
  wget https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh &>/dev/null \
  && sh install.sh --keep-zshrc --unattended &>/dev/null \
  && rm install.sh
cat <<'EOZ' > "${HOME}/.zshrc"
export ZSH="${HOME}/.oh-my-zsh"
ZSH_THEME="agnoster"
source \${ZSH}/oh-my-zsh.sh
EOZ
else
  info "Oh My Zsh is already installed. Updating..."
  git -C ${HOME}/.oh-my-zsh pull
fi

if [ -f "${HOME}/.zshrc" ]; then
  info "Reloading .zshrc..."
  [ -n "\$ZSH_VERSION" ] && source "${HOME}/.zshrc" || zsh
fi

success
{{ end }}
