#!/bin/bash

{{- if and .isLinux .isFull }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'

info "Installing npm global packages..."
export NVM_DIR="${HOME}/.nvm"
[ -s "${NVM_DIR}/nvm.sh" ] && \. "${NVM_DIR}/nvm.sh" &>/dev/null

npm i -g \
  @anthropic-ai/claude-code \
  @openai/codex \
  browser-sync \
  n8n \
  openclaw \
  opencode-ai \
  yarn \
  &>/dev/null
success

info "Installing Antigravity Awesome Skills..."
npx antigravity-awesome-skills &>/dev/null
test -d ~/.gemini/antigravity/skills && success || error "Failed to install Antigravity Awesome Skills"

{{- end }}
