#!/bin/bash
{{ if and .isLinux .isFull }}

if ! command -v ollama &>/dev/null; then
  info "Installing Ollama..."
  curl -fsSL https://ollama.com/install.sh | sh
else
  info "Ollama is already installed"
  success
fi

if ! command -v llmfit &>/dev/null; then
  info "Installing llmfit..."
  curl -fsSL https://llmfit.axjns.dev/install.sh | sh -s -- --local
else
  info "llmfit is already installed"
  success
fi

{{ end }}
