#!/bin/bash

# This script runs early to display the detected system environment.
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "========================================"
info "thiagobraga dotfiles"
info "========================================"
echo
echo "  isLinux:   $(status {{ .isLinux }})"
echo "  isUbuntu:  $(status {{ .isUbuntu }})"
echo "  isDebian:  $(status {{ .isDebian }})"
echo "  isWsl:     $(status {{ .isWsl }})"
echo "  isDesktop: $(status {{ .isDesktop }})"
echo "  isServer:  $(status {{ .isServer }})"
echo
