#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

export NVM_DIR="$HOME/.nvm"

if [ ! -d "$NVM_DIR" ]; then
  info "Installing NVM (Node Version Manager)..."
  run curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash
else
  info "NVM is already installed in $NVM_DIR. Attempting to update..."

  if [ -d "$NVM_DIR/.git" ]; then
    info "Updating NVM via git..."
    (
      cd "$NVM_DIR"
      run git fetch --tags origin
      latest_tag=$(git describe --abbrev=0 --tags --match "v[0-9]*" $(git rev-list --tags --max-count=1))
      info "Checking out version $latest_tag..."
      run git checkout "$latest_tag" --quiet
    )
  else
    warning "Not a git repository. Updating via curl installer..."
    run curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash
  fi
fi
success

info "Loading NVM..."
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

info "Installing LTS version of Node.js..."

run nvm install --lts
run nvm use --lts

success
{{ end }}
