#!/bin/bash

{{ if .isDebian }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"
info "$(printf ${BRED}[Debian]${NC}) Installing essential apt packages for Debian..."

run <<EOF
sudo apt-get install -y \\
  bat \\
  curl \\
  fzf \\
  git \\
  make \\
  neovim \\
  ripgrep \\
  {{- if .isDesktop }} terminator \\ {{- end }}
  vim \\
  wget \\
  zsh
EOF

{{ end }}
