#!/bin/bash

{{ if and .isLinux .isFull }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

export NVM_DIR="$HOME/.nvm"

[ ! -d "$NVM_DIR" ] \
  && info "Installing NVM (Node Version Manager)..." \
  || info "Updating NVM (Node Version Manager)..."

curl -so- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash &>/dev/null
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
nvm install --lts

success
{{ end }}
