#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

{{ if .isWsl -}}
! command -v docker &>/dev/null \
  && warning "Docker not found in WSL. Ensure Docker Desktop is running and WSL Integration is enabled." \
  || info "Docker found via WSL Integration. Skipping native installation." && success

{{ else -}}
if ! command -v docker &>/dev/null; then
  info "Installing Docker via official convenience script..."
  run <<EOF
curl -fsSL https://get.docker.com -o get-docker.sh \\
  && sudo sh get-docker.sh \\
  && rm get-docker.sh
EOF
else
  info "Updating Docker..."
  run <<EOF
sudo apt install -y \\
  containerd.io \\
  docker-buildx-plugin \\
  docker-ce \\
  docker-ce-cli \\
  docker-ce-rootless-extras \\
  docker-compose-plugin
EOF
fi

if ! groups $USER | grep -q "docker"; then
  info "Adding user $USER to the docker group..."
  run <<EOF
sudo usermod -aG docker $USER
newgrp docker <<INNER_EOF
INNER_EOF
EOF
fi

{{ end -}}
{{ end }}
