#!/bin/bash

{{ if .isLinux }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"
info "Installing bun global packages..."

export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

run <<EOF
bun add -g \
  @anthropic-ai/claude-code \
  browser-sync \
  n8n \
  openclaw \
  opencode-ai \
  vercel \
  yarn
EOF

run -n1 bun -v
run -n1 claude -v
run -n1 browser-sync --version
run -n1 n8n -v
run -n1 openclaw -v
run -n1 opencode -v
run -n1 vercel -v
run -n1 yarn -v
{{ end }}
