#!/bin/bash

{{ if .isLinux }}

info "Generating en_US.UTF-8 locale..."
sudo locale-gen en_US.UTF-8

info "Updating system default locales..."
sudo update-locale LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8

{{ end }}
