#!/bin/bash

{{ if .isUbuntu }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"

info "Installing essential apt packages..."
run <<EOF
sudo apt-get install -y \\
  bat \\
  build-essential \\
  curl \\
  eza \\
  fzf \\
  git \\
  make \\
  neovim \\
  ripgrep \\
  vim \\
  wget \\
  zsh \\
  zstd
EOF

{{ if .isDesktop }}
info "Installing desktop-specific apt packages..."
run <<EOF
sudo apt install -y \\
  nemo \\
  nemo-fileroller \\
  nemo-font-manager \\
  nemo-gtkhash \\
  terminator
EOF
{{ end }}

{{ end }}
