#!/bin/bash

{{- if .isUbuntu }}

source '{{ .chezmoi.sourceDir }}/.helpers/utils.sh'

info "Installing essential apt packages..."
sudo apt-get install -y \
  apt-transport-https \
  asciinema \
  bat \
  build-essential \
  ca-certificates \
  curl \
  dislocker \
  eza \
  fzf \
  git \
  gpg \
  htop \
  make \
  neovim \
  ntfs-3g \
  numlockx \
  samba \
  unzip \
  vim \
  wget \
  zsh \
  zstd \
  &>/dev/null
success

{{- end }}
