#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
source "{{ .chezmoi.sourceDir }}/.helpers/utils.sh"
export NVM_DIR="$HOME/.nvm"

info "Installing NVM (Node Version Manager)..."
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh | bash
success "NVM installed successfully."

info "Loading NVM..."
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

info "Installing LTS version of Node.js..."
nvm install --lts
nvm use --lts

success "LTS Node.js installed and set as default."
{{ end }}
